*{
    margin: 0;padding: 0;
}
body{
    background-color:rgb(15,23,26) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

h1{
    align-items: center;
    position: absolute;
    /* border: 2px solid  ; */
    width: 500px;
    background-image: linear-gradient(to left, #fbd72b, #f9484a , rgb(14, 236, 14)  );
    top: 10px;
    padding: 15px;
    border-radius: 8px;
    backdrop-filter:blur(90%);
    left: 1px;
    cursor: pointer;
    transition: all 400ms ease;
    margin-left: 10rem;
}

h1:hover{
    background-image: linear-gradient(to left, #18ae16ab, #1f0dadd3 , rgba(245, 218, 13, 0.623)  );

    color: rgb(16, 15, 15);
    font-family: "Times New Roman", Times, Baskerville, Georgia;
   
}

.circle1{
    position: absolute;
    top: 25vh;
    left: 40vh   ;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #fbd72b, #f9484a   );
    animation: circle1 7s infinite;
}

@keyframes circle1  {

    0%{
        top: 20vh;
        left: 40vh;
    }

    50%{
        top: 50vh;
        left: 40vh;
    }
    100%{
        top: 20vh;
        left: 40vh;
    }
    
    
}



.circle2{
    position: absolute;
    top: 10vh;
    right: 40vh   ;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: linear-gradient(0.5turn, #fbd72b, #f9484a   );
    animation: circle2 7s infinite;
    animation-delay:   3s;
}

@keyframes circle2  {

    0%{
        top: 10vh;
        
    }

    50%{
        top: 40vh;
        
    }
    100%{
        top: 10vh;
        
    }

}

.box{
    width: 50%;
    backdrop-filter: blur(70px);
    box-shadow: 0 0 19px rgba(0 0 0 /35%);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.in-box{
    backdrop-filter:blur(13px);
    box-shadow: 0 0 19px 1px rgba(0 0 0/35%);
    background-color: #ef563432;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 45px 25px;
    padding: 15px;
    border: radius 35px;
    cursor: pointer;
    transition: all 400ms ease;
}

.in-box:hover{
    backdrop-filter:blur(60%);
    background-image:linear-gradient(to left, rgb(12, 216, 12) , rgb(9, 154, 244) );
}

.option{
    font-size: 35px;
    font-weight: bold;

}
